<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <h1 style="margin-bottom:1em">{{ config.welcomeText || 'Welcome to FeTSy-Hammertag' }}</h1>
    </div>

</div>

<div class="row">

    <div class="col-sm-2 col-sm-offset-2">
        <p>
            <a class="btn btn-primary" ui-sref="scanSingleObject" role="button">
                <span class="glyphicon glyphicon-barcode"></span>
                Scan
            </a>
        </p>
    </div>

    <div class="col-sm-2">
        <p>
            <a class="btn btn-primary" ui-sref="listPersons" role="button">
                <span class="glyphicon glyphicon-list"></span>
                List
            </a>
        </p>
    </div>

    <div class="col-sm-2">
        <p>
            <a class="btn btn-primary" ui-sref="export" role="button">
                <span class="glyphicon glyphicon-import"></span>
                Export
            </a>
        </p>
    </div>

    <div class="col-sm-2">
        <p>
            <a class="btn btn-primary" ui-sref="import" role="button">
                <span class="glyphicon glyphicon-export"></span>
                Import
            </a>
        </p>
    </div>

</div>
