<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 style="margin-bottom:1em">Welcome to FeTSy-Hammertag.</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-sm-offset-4">
        <p><a class="btn btn-primary" ui-sref="scanSingleObject" role="button">
            Scan something
        </a>
        </p>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-primary" ui-sref="listPersons" role="button">
            List everything
        </a>
    </div>
</div>
