<div class="row">

    <div class="col-xs-12" ng-hide="import.submitted">
        <h4>CSV file specifications</h3>
        <dl class="dl-horizontal">
            <dt>Encoding</dt>
            <dd>UTF-8</dd>
            <dt>Text delimiter</dt>
            <dd>Double quotes <code>""</code></dd>
            <dt>Field separator</dt>
            <dd>Comma <code>,</code></dd>
            <dt>Header</dt>
            <dd><code>id</code>, <code>description</code> and – as appropriate – <code>inventory</code></dd>
        </dl>

        <form role="form"
              name="importForm"
              ng-submit="import.submit()">
            <div class="form-group">
                <label for="importTypeSelect">Type</label>
                <select id="importTypeSelect" class="form-control" ng-model="import.type">
                    <option value="person" >Person</option>
                    <option value="object" >Object</option>
                    <option value="supplies" >Supplies</option>
                </select>
            </div>
            <div class="form-group" ng-class="{'has-error': import.isValid === false}">
                <label for="importInputFile">File</label>
                <input id="importInputFile"
                       type="file"
                       aria-invalid="{{ import.isValid ? false : true }}">
                <span id="importInputFileError" class="help-block" ng-show="import.isValid === false">
                    Error: Check CSV file specifications.
                </span>
            </div>
            <button type="submit" class="btn btn-primary" ng-show="import.isValid">
                <span class="glyphicon glyphicon-export"></span>
                Import {{ import.typeMap[import.type] }}
            </button>
        </form>
    </div>

    <div class="col-xs-12" ng-show="import.submitted">
        <div ng-show="import.submitted.pending">
            <span class="sr-only">Loading ...</span>
            <span us-spinner="{color: '#428bca'}"></span>
        </div>
        <div class="alert alert-success" role="alert" ng-show="import.submitted.success">
            {{ import.submitted.success }} items successfully imported.
        </div>

        <div class="alert alert-danger" role="alert" ng-show="import.submitted.error">
            Oops, something went wrong. Reload the page and check data and connection.
        </div>
    </div>

</div>
