<!DOCTYPE html>
<html lang="en" ng-app="FeTSy-Hammertag" ng-strict-di>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="icon" href="static/favicon.ico">

    <title>FeTSy-Hammertag</title>

    <!-- Libraries styles -->
    <link rel="stylesheet" href="static/css/fetsy-hammertag-libs.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/fetsy-hammertag.css">

    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="static/js/html5shiv.js"></script>
        <script src="static/js/respond.src.js"></script>
    <![endif]-->

    <!-- Libraries JavaScript -->
    <script src="static/js/fetsy-hammertag-libs.js"></script>

    <!-- Custom JavaScript -->
    <script src="static/js/fetsy-hammertag.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
</head>

<body>

    <!-- Top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl as navbarCtrl">

        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" ng-src="{{ navbarCtrl.logoURL }}">
                <a class="navbar-brand" ui-sref="home">{{ config.header || 'FeTSy-Hammertag' }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="scanSingleObject">Scan</a></li>
                    <li><a ui-sref="listPersons">List</a></li>
                    <li><a ui-sref="export">Export</a></li>
                    <li ng-show="config.fullWritePermissionGranted"><a ui-sref="import">Import</a></li>
                    <li ng-show="config.fullWritePermissionGranted"><a ui-sref="database">Database</a></li>
                </ul>
                <p class="navbar-text navbar-right">Signed in as {{ config.userName }}</p>
            </div>
        </div>

    </nav><!-- / .navbar Top navbar -->

    <!-- Main container -->
    <div class="container">

        <div style="padding: 2.9em 1.1em;">
            <div ui-view></div>
        </div>

        <hr>

        <footer>
            <p>&copy; 2016-2019 <a href="https://rechtsanwalt-jaeckel.de">Norman Jäckel</a></p>
        </footer>

    </div><!-- / Main container -->

    <script type="text/ng-template" id="foo.html">
    </script>

</body>

</html>
