<div class="row scan-input-field">
    <div class="col-sm-6 col-sm-offset-6">
        <input
            bs-switch
            ng-model="listPersons.showObjects"
            type="checkbox"
            switch-icon="glyphicon glyphicon-wrench">
        <input
            bs-switch
            ng-model="listPersons.showSupplies"
            type="checkbox"
            switch-icon="glyphicon glyphicon-tint">
    </div>
</div>

<div class="row hidden-xs">
    <div class="col-sm-6">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>
    <div class="col-sm-6">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> /
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
    </div>
</div>

<div class="row" ng-repeat="person in listPersons.persons | orderBy : 'personDescription'">

    <hr ng-class="{'hidden-xs': $first}">

    <div class="col-sm-6">
        <p>
            <span class="label label-primary">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="sr-only">Person</span>
                {{ person.ID }}
            </span>
            <span style="padding-left:0.5em;">
                {{ person.description }}
            </span>
            <span class="pull-right">
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Update person"
                        ng-click="listPersons.updatePerson(person)"
                        ng-hide="person.ID === listPersons.unknownPersonID">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-danger"
                        aria-label="Remove person"
                        ng-click="listPersons.removePerson(person, listPersons.persons, $index)"
                        ng-hide="person.objects.length || person.supplies.length">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </span>
        </p>
    </div>

    <div class="col-sm-6">
        <p ng-show="listPersons.showObjects" ng-repeat="object in person.objects">
            <span class="label label-primary">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <span class="sr-only">Object</span>
                {{ object.ID }}
            </span>
            <span style="padding-left:0.5em;">
                {{ object.description }}
            </span>
            <span class="pull-right">
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Update object"
                        ng-click="listPersons.updateObject(object)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-danger"
                        aria-label="Remove object"
                        ng-click="listPersons.removeObject(object, person.objects, $index)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </span>
        </p>
        <p ng-show="listPersons.showSupplies" ng-repeat="supplies in person.supplies">
            <span class="label label-primary">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                <span class="sr-only">Supplies</span>
                {{ supplies.ID }}
            </span>
            <span style="padding-left:0.5em;">
                {{ supplies.description }}
            </span>
            <span class="pull-right">
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Update supplies"
                        ng-click="listPersons.updateSupplies(supplies)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-danger"
                        aria-label="Remove supplies"
                        ng-click="listPersons.removeSupplies(supplies, person.supplies, $index)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </span>
        </p>
    </div>

</div>
