<div class="row scan-input-field">

    <div class="col-sm-4">
        <div class="form-group">
            <label for="searchFilter" class="sr-only">
                Search filter
            </label>
            <div class="input-group">
                <div class="input-group-btn">
                    <span type="button"
                          id="searchFilterIcon"
                          title="Toggle objects and supplies search filter"
                          class="btn btn-primary"
                          ng-click="listPersons.toogleSearchFilterObjectsSupplies()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-user" ng-hide="listPersons.searchFilterObjectsSuppliesEnabled" aria-hidden="true"></span>
                        <span class="sr-only">Toggle objects and supplies search filter</span>
                    </span>
                </div>
                <input id="searchFilter"
                       type="text"
                       class="form-control"
                       placeholder="Search filter"
                       aria-describedby="searchFilterIcon"
                       ng-model="listPersons.searchFilter"
                       focus-me="listPersons.searchFilterFocus">
                <div class="input-group-btn">
                    <span type="button"
                          title="Reset search filter"
                          class="btn btn-default"
                          ng-click="listPersons.resetSearchFilter()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="sr-only">Reset search filter</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-2">
        <div class="form-group">
            <input
                bs-switch
                ng-model="listPersons.showObjects"
                type="checkbox"
                switch-icon="glyphicon glyphicon-wrench"
                switch-change="listPersons.updateCookie()"
                aria-label="Switch box to show or hide objects">
            <input
                bs-switch
                ng-model="listPersons.showSupplies"
                type="checkbox"
                switch-icon="glyphicon glyphicon-tint"
                switch-change="listPersons.updateCookie()"
                aria-label="Switch box to show or hide supplies">
        </div>
    </div>

    <div class="col-sm-3">
        <div class="form-group">
            <label for="limitControl" class="sr-only">
                Control limit of shown items
            </label>
            <div class="input-group">
                <div class="input-group-btn">
                     <span type="button"
                          title="Descrease limit by {{ listPersons.limitStep }}"
                          class="btn btn-default"
                          ng-click="listPersons.decreaseLimit()">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <span class="sr-only">Descrease limit by {{ listPersons.limitStep }}</span>
                    </span>
                </div>
                <input id="limitControl"
                       type="number"
                       min="1"
                       class="form-control"
                       placeholder="Enter limit"
                       ng-model="listPersons.limit"
                       ng-change="listPersons.updateCookie()">
                <div class="input-group-btn">
                     <span type="button"
                          title="Inscrease limit by {{ listPersons.limitStep }}"
                          class="btn btn-default"
                          ng-click="listPersons.increaseLimit()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="sr-only">Increase limit by {{ listPersons.limitStep }}</span>
                    </span>
                </div>
           </div>
        </div>
    </div>

</div>

<div class="row hidden-xs">

    <div class="col-sm-6">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>

    <div class="col-sm-6">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> /
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
    </div>

</div>

<div class="row" ng-hide="listPersons.persons">

    <hr>

    <div class="col-xs-12" style="min-height:3em">
        <p>
            <span class="sr-only">Loading ...</span>
            <span us-spinner="{color: '#428bca'}"></span>
        </p>
    </div>

</div>

<div class="row" ng-repeat="person in listPersons.persons | orderBy : 'description' | filter : listPersons.searchFilter | limitTo: (listPersons.limit || 0 )">

    <hr ng-class="{'hidden-xs': $first}">

    <div class="col-sm-6">
        <p>
            <a class="id-label-link" ui-sref="scanSingleObject({scanInputValue: person.id[0]})">
                <span class="label label-primary">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="sr-only">Person</span>
                    {{ person.id | splitIDs }}
                </span>
            </a>
            <span style="padding-left:0.5em" ng-class="{'text-danger': !person.description}">
                {{ person.description || listPersons.DefaultDescription.person }}
                <span ng-show="person.company">({{ person.company }})</span>
            </span>
            <span class="pull-right" ng-show="config.fullWritePermissionGranted">
                <button type="button"
                        class="btn btn-xs btn-default"
                        title="Update person"
                        aria-label="Update person"
                        ng-click="listPersons.updatePerson(person, listPersons.persons)"
                        ng-hide="person.id[0] === listPersons.UnknownPersonId">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </span>
        </p>
    </div>

    <div class="col-sm-6">
        <div ng-show="listPersons.showObjects">
            <p ng-repeat="object in person.objects |
                          objectsSuppliesFilter : {expression: listPersons.searchFilter, enabled: listPersons.searchFilterObjectsSuppliesEnabled} |
                          limitTo: (listPersons.limit || 0 )">
                <a class="id-label-link" ui-sref="scanSingleObject({scanInputValue: object.id[0]})">
                    <span class="label label-primary">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        <span class="sr-only">Object</span>
                        {{ object.id | splitIDs }}
                    </span>
                </a>
                <span style="padding-left:0.5em;">
                    <span ng-class="{'text-danger': !object.description}">
                        {{ object.description || listPersons.DefaultDescription.object }}
                    </span>
                    &middot;
                    {{ object.persons[object.persons.length-1].timestamp | amFromUnix | amDateFormat : 'YYYY-MM-DD HH:mm' }}
                </span>
                <span class="pull-right">
                    <button type="button"
                            class="btn btn-xs btn-default"
                            title="Object information"
                            aria-label="Object information"
                            ng-click="listPersons.objectInformation(object)">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                    <button ng-show="config.fullWritePermissionGranted"
                            type="button"
                            class="btn btn-xs btn-default"
                            title="Update object"
                            aria-label="Update object"
                            ng-click="listPersons.updateObject(object, person.objects)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </span>
            </p>
            <p class="text-center lead"
               title="More objects available"
               ng-show="(listPersons.limit || 0) < (
                   person.objects |
                   objectsSuppliesFilter : {expression: listPersons.searchFilter, enabled: listPersons.searchFilterObjectsSuppliesEnabled}
               ).length">
                &hellip;
            </p>
        </div>
        <div ng-show="listPersons.showSupplies">
            <p ng-repeat="supplies in person.supplies |
                          objectsSuppliesFilter : {expression: listPersons.searchFilter, enabled: listPersons.searchFilterObjectsSuppliesEnabled} |
                          suppliesLimitTo: (listPersons.limit || 0 )">
                <span class="label label-primary">
                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                    <span class="sr-only">Supplies</span>
                    {{ supplies.id }}
                </span>
                <span class="label label-default" style="margin-left:0.5em;" ng-hide="person.id[0] === listPersons.UnknownPersonId">
                    {{ listPersons.suppliesCount(supplies, person.id) }} x
                </span>
                <span style="padding-left:0.5em;" ng-class="{'text-danger': !supplies.description}">
                    {{ supplies.description || listPersons.DefaultDescription.supplies }}
                </span>
                <span class="pull-right">
                    <button type="button"
                            class="btn btn-xs btn-default"
                            ng-hide="person.id[0] === listPersons.UnknownPersonId"
                            title="Supplies max count information"
                            aria-label="Supplies max count information"
                            ng-click="listPersons.suppliesMaxCountInformation(supplies, person)">
                        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                    </button>
                    <button type="button"
                            class="btn btn-xs btn-default"
                            title="Supplies information"
                            aria-label="Supplies information"
                            ng-click="listPersons.suppliesInformation(supplies)">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                    <button ng-show="config.fullWritePermissionGranted"
                            type="button"
                            class="btn btn-xs btn-default"
                            title="Update supplies"
                            aria-label="Update supplies"
                            ng-click="listPersons.updateSupplies(supplies, person)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button"
                            class="btn btn-xs btn-default"
                            ng-hide="person.id[0] === listPersons.UnknownPersonId"
                            title="Unapply supplies"
                            aria-label="Unapply supplies"
                            ng-click="listPersons.unapplySupplies(supplies, person)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </span>
            </p>
            <p class="text-center lead"
               title="More supplies available"
               ng-show="(listPersons.limit || 0) < listPersons.numberOfSuppliesItems(person).length">
                &hellip;
            </p>
        </div>
    </div>

</div>

<div class="row" ng-show="(listPersons.limit || 0) < (listPersons.persons | filter : listPersons.searchFilter).length">
    <hr>
    <div class="col-sm-12">
        <p class="text-center lead" title="More persons available">
            &#x22ee;
        </p>
    </div>
</div>
