<div class="row scan-input-field">

    <div class="col-sm-4">
        <div class="form-group">
            <label for="searchFilter" class="sr-only">
                Search filter
            </label>
            <div class="input-group">
                <div class="input-group-btn">
                    <span type="button"
                          title="Toggle objects and supplies search filter"
                          class="btn btn-primary"
                          ng-click="listPersons.toogleSearchFilterObjectsSupplies()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-user" ng-hide="listPersons.searchFilterObjectsSuppliesEnabled" aria-hidden="true"></span>
                        <span class="sr-only">Toggle objects and supplies search filter</span>
                    </span>
                </div>
                <input id="searchFilter"
                       type="text"
                       class="form-control"
                       placeholder="Search filter"
                       aria-describedby="searchFilterIcon"
                       ng-model="listPersons.searchFilter"
                       focus-me="listPersons.searchFilterFocus">
                <div class="input-group-btn">
                    <span type="button"
                          title="Reset search filter"
                          class="btn btn-default"
                          ng-click="listPersons.resetSearchFilter()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="sr-only">Reset search filter</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-sm-offset-2">
        <input
            bs-switch
            ng-model="listPersons.showObjects"
            type="checkbox"
            switch-icon="glyphicon glyphicon-wrench">
        <input
            bs-switch
            ng-model="listPersons.showSupplies"
            type="checkbox"
            switch-icon="glyphicon glyphicon-tint">
    </div>

</div>

<div class="row hidden-xs">

    <div class="col-sm-6">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>

    <div class="col-sm-6">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> /
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
    </div>

</div>

<div class="row" ng-hide="listPersons.persons">

    <hr>

    <div class="col-xs-12" style="min-height:3em">
        <p>
            <span class="sr-only">Loading ...</span>
            <span us-spinner="{color: '#428bca'}"></span>
        </p>
    </div>

</div>

<div class="row" ng-repeat="person in listPersons.persons | orderBy : 'description' | filter : listPersons.searchFilter">

    <hr ng-class="{'hidden-xs': $first}">

    <div class="col-sm-6">
        <p>
            <span class="label label-primary">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="sr-only">Person</span>
                {{ person.id | splitIDs }}
            </span>
            <span style="padding-left:0.5em" ng-class="{'text-danger': !person.description}">
                {{ person.description || listPersons.DefaultDescription.person }}
                <span ng-show="person.company">({{ person.company }})</span>
            </span>
            <span class="pull-right">
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Update person"
                        ng-click="listPersons.updatePerson(person, listPersons.persons)"
                        ng-hide="person.id[0] === listPersons.UnknownPersonId">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </span>
        </p>
    </div>

    <div class="col-sm-6">
        <p ng-show="listPersons.showObjects"
           ng-repeat="object in person.objects |
                      objectsSuppliesFilter : {expression: listPersons.searchFilter, enabled: listPersons.searchFilterObjectsSuppliesEnabled}">
            <span class="label label-primary">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <span class="sr-only">Object</span>
                {{ object.id | splitIDs }}
            </span>
            <span style="padding-left:0.5em;">
                <span ng-class="{'text-danger': !object.description}">
                    {{ object.description || listPersons.DefaultDescription.object }}
                </span>
                &middot;
                {{ object.persons[object.persons.length-1].timestamp | amFromUnix | amDateFormat : 'YYYY-MM-DD HH:mm' }}
            </span>
            <span class="pull-right">
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Object information"
                        ng-click="listPersons.objectInformation(object)">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Update object"
                        ng-click="listPersons.updateObject(object, person.objects)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </span>
        </p>
        <p ng-show="listPersons.showSupplies"
           ng-repeat="(id, suppliesArray) in person.supplies |
                      objectsSuppliesFilter : {expression: listPersons.searchFilter, enabled: listPersons.searchFilterObjectsSuppliesEnabled} |
                      groupBy: 'id'">
            <span class="label label-primary">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                <span class="sr-only">Supplies</span>
                {{ id }}
            </span>
            <span class="label label-default" style="margin-left:0.5em;" ng-hide="person.id[0] === listPersons.UnknownPersonId">
                {{ suppliesArray.length }} x
            </span>
            <span style="padding-left:0.5em;" ng-class="{'text-danger': !suppliesArray[0].description}">
                {{ suppliesArray[0].description || listPersons.DefaultDescription.supplies }}
            </span>
            <span class="pull-right">
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Supplies information"
                        ng-click="listPersons.suppliesInformation(suppliesArray[0])">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="Update supplies"
                        ng-click="listPersons.updateSupplies(suppliesArray[0], person.supplies)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </span>
        </p>
    </div>

</div>
