<!-- Scan input form field -->
<div class="row">

    <div class="col-sm-6 col-sm-offset-3 scan-input-field">

        <form role="form"
              name="scanInputForm"
              ng-submit="scanSingleObject.scan()">
            <div class="form-group" ng-class="{'has-error': scanSingleObject.error}">
                <label for="scanID" class="sr-only">
                    ID
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span id="scanIDIcon" class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        <span class="sr-only">ID</span>
                    </div>
                    <input id="scanID"
                           type="text"
                           class="form-control"
                           placeholder="Scan ID"
                           aria-describedby="scanIDIcon"
                           ng-model="scanSingleObject.scanInputValue"
                           focus-me="scanSingleObject.focusScanInput">
                    <div class="input-group-btn">
                        <span type="button"
                              title="Save input"
                              class="btn btn-primary"
                              ng-click="scanSingleObject.scan()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <span class="sr-only">Save input</span>
                        </span>
                        <span type="button"
                              title="Reset input field"
                              class="btn btn-default"
                              ng-click="scanSingleObject.resetInputField()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span class="sr-only">Reset input field</span>
                        </span>
                    </div>
                </div>
                <span ng-show="scanSingleObject.error" class="help-block">
                    Error: {{ scanSingleObject.error }}
                </span>
            </div>
        </form>

    </div><!-- / .col-sm-6 col-sm-offset-3 -->

</div><!-- / .row Scan input form field -->


<!-- Panels -->
<div class="row">

    <!-- Panel for last person -->
    <div class="col-sm-5">
        <div class="panel panel-default" ng-show="scanSingleObject.lastPerson">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{ scanSingleObject.lastPerson.id }}
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Update person"
                        ng-click="scanSingleObject.updatePerson()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
            <div class="panel-body">
                {{ scanSingleObject.lastPerson.description || scanSingleObject.DefaultDescription.person }}
            </div>
        </div>
    </div><!-- / .col-sm-5 Panel for last person -->

    <!-- Panel for last object and last supplies -->
    <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-default" ng-show="scanSingleObject.lastObject">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                {{ scanSingleObject.lastObject.id }}
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Update object"
                        ng-click="scanSingleObject.updateObject()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
            <div class="panel-body">
                {{ scanSingleObject.lastObject.description || scanSingleObject.DefaultDescription.object }}
            </div>
            <div class="panel-body" ng-show="scanSingleObject.lastObject.persons.length > 0">
                <span class="sr-only">Persons</span>
                <ul class="list-unstyled">
                    <li ng-class="{ 'person-list': !$last }"
                        ng-repeat="person in scanSingleObject.lastObject.persons">
                        <span class="label label-primary">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="sr-only">Person</span>
                            {{ person.id }}
                        </span>
                        <span style="padding-left:0.5em;">
                            {{ person.description || scanSingleObject.DefaultDescription.person }}
                            &middot;
                            {{ person.timestamp | amFromUnix | amDateFormat : 'YYYY-MM-DD HH:mm' }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default" ng-show="scanSingleObject.lastSupplies">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                {{ scanSingleObject.lastSupplies.id }}
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Update supplies"
                        ng-click="scanSingleObject.updateSupplies()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
            <div class="panel-body">
                <span class="label label-primary">{{ scanSingleObject.lastSupplies.count }}</span>
                {{ scanSingleObject.lastSupplies.description || scanSingleObject.DefaultDescription.supplies }}
            </div>
        </div>
    </div><!-- / .col-sm-5 Panel for last object and last supplies -->

</div><!-- / .row Panels -->


<!-- Reset button -->
<div class="row" ng-show="scanSingleObject.lastObject || scanSingleObject.lastSupplies || scanSingleObject.lastPerson">

    <div class="col-sm-12">
        <button type="button" class="btn btn-danger" ng-click="scanSingleObject.resetForm()">Reset form</button>
    </div>

</div><!-- / .row Reset button -->
