<!-- Scan input form field -->
<div class="row">

    <div class="col-sm-6 col-sm-offset-3 scan-input-field">

        <form role="form"
              name="scanInputForm"
              ng-submit="scanSingleObject.scan()">
            <div class="form-group" ng-class="{'has-error': scanSingleObject.error}">
                <label for="scanID" class="control-label sr-only">
                    ID
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span id="scanIDIcon" class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        <span class="sr-only">ID</span>
                    </div>
                    <input id="scanID"
                           type="text"
                           class="form-control"
                           placeholder="Scan ID"
                           aria-describedby="scanIDIcon"
                           aria-invalid="{{ scanSingleObject.error ? true : false }}"
                           ng-model="scanSingleObject.scanInputValue"
                           focus-me="scanSingleObject.focusScanInput">
                    <div class="input-group-btn">
                        <span type="button"
                              title="Save input"
                              class="btn"
                              ng-class="!scanSingleObject.error ? 'btn-primary' : 'btn-danger'"
                              ng-click="scanSingleObject.scan()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <span class="sr-only">Save input</span>
                        </span>
                        <span type="button"
                              title="Reset input field"
                              class="btn btn-default"
                              ng-click="scanSingleObject.resetInputField()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span class="sr-only">Reset input field</span>
                        </span>
                    </div>
                </div>
                <span ng-show="scanSingleObject.error" class="help-block">
                    Error: {{ scanSingleObject.error }}
                </span>
            </div>
        </form>

    </div><!-- / .col-sm-6 col-sm-offset-3 -->

</div><!-- / .row Scan input form field -->


<!-- Panels -->
<div class="row">

    <!-- Panel for last person -->
    <div class="col-sm-5">
        <div class="panel panel-default" ng-show="scanSingleObject.lastPerson">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{ scanSingleObject.lastPerson.id | splitIDs }}
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Add person ID"
                        ng-click="scanSingleObject.addPersonID()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Update person description"
                        ng-click="scanSingleObject.updatePersonDescription()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
            <div class="panel-body" ng-class="{'text-danger': !scanSingleObject.lastPerson.description}">
                {{ scanSingleObject.lastPerson.description || scanSingleObject.DefaultDescription.person }}
                <span ng-show="scanSingleObject.lastPerson.company">({{ scanSingleObject.lastPerson.company }})</span>
            </div>
        </div>
    </div><!-- / .col-sm-5 Panel for last person -->

    <!-- Panel for last object and last supplies -->
    <div class="col-sm-5 col-sm-offset-1">

        <!-- Panel for last object -->
        <div class="panel panel-default" ng-show="scanSingleObject.lastObject">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                {{ scanSingleObject.lastObject.id | splitIDs }}
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Add object ID"
                        ng-click="scanSingleObject.addObjectID()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Update object"
                        ng-click="scanSingleObject.updateObjectDescription()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
            <div class="panel-body" ng-class="{'text-danger': !scanSingleObject.lastObject.description}">
                {{ scanSingleObject.lastObject.description || scanSingleObject.DefaultDescription.object }}
            </div>
            <div class="panel-body" ng-show="scanSingleObject.lastObject.persons.length > 0">
                <span class="sr-only">Persons</span>
                <ul class="list-unstyled">
                    <li ng-class="{ 'person-list': !$last }"
                        ng-repeat="person in scanSingleObject.lastObject.persons | orderBy : '-timestamp'"
                        ng-show="$index < 3 || scanSingleObject.showAll">
                        <span class="label label-primary">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="sr-only">Person</span>
                            {{ person.id | splitIDs }}
                        </span>
                        <span style="padding-left:0.5em;">
                            <span ng-class="{'text-danger': !person.description}">
                                {{ person.description || scanSingleObject.DefaultDescription.person }}
                                <span ng-show="person.company">({{ person.company }})</span>
                            </span>
                            &middot;
                            {{ person.timestamp | amFromUnix | amDateFormat : 'YYYY-MM-DD HH:mm' }}
                        </span>
                    </li>
                </ul>
                <button type="button"
                        class="btn btn-default btn-xs"
                        aria-label="Show all"
                        ng-hide="scanSingleObject.showAll || scanSingleObject.lastObject.persons.length <= 3"
                        ng-click="scanSingleObject.showAll = true">
                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                </button>
            </div>
        </div><!-- / .panel Panel for last object -->

        <!-- Panel for last suplies -->
        <div class="panel panel-default" ng-show="scanSingleObject.lastSupplies">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                {{ scanSingleObject.lastSupplies.id }}
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Update inventory"
                        ng-click="scanSingleObject.updateInventory()">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-xs btn-default pull-right"
                        aria-label="Update supplies"
                        ng-click="scanSingleObject.updateSupplies()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
            <div class="panel-body">
                <span class="label"
                      ng-class="scanSingleObject.suppliesLabel() ? 'label-danger' : 'label-default'"
                >{{ scanSingleObject.lastSupplies.persons.length }} / {{ scanSingleObject.lastSupplies.inventory || 0 }}</span>
                <span ng-class="{'text-danger': !scanSingleObject.lastSupplies.description}">
                    {{ scanSingleObject.lastSupplies.description || scanSingleObject.DefaultDescription.supplies }}
                </span>
            </div>
        </div><!-- / .panel Panel for last suplies -->

    </div><!-- / .col-sm-5 Panel for last object and last supplies -->

</div><!-- / .row Panels -->


<!-- Reset and more supplies button -->
<div class="row" ng-show="scanSingleObject.lastObject || scanSingleObject.lastSupplies || scanSingleObject.lastPerson">

    <div class="col-sm-5 hidden-xs">
        <button type="button" class="btn btn-danger" ng-click="scanSingleObject.resetForm()">Reset form</button>
    </div>

    <div class="col-sm-5 col-sm-offset-1 scan-input-field" ng-show="scanSingleObject.lastPerson && scanSingleObject.lastSupplies">
        <button type="button" class="btn btn-default" ng-click="scanSingleObject.moreSupplies()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> More supplies
        </button>
    </div>

    <!-- Reset button only for extra small devices -->
    <div class="col-xs-12 visible-xs-block">
        <button type="button" class="btn btn-danger" ng-click="scanSingleObject.resetForm()">Reset form</button>
    </div>

</div><!-- / .row Reset and more supplies button -->
