<div class="modal-header">
    <h3 class="modal-title">
        Update supplies inventory
        <span class="label label-primary">
            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
            <span class="sr-only">Supplies</span>
            {{ updateInventory.element.item.id | splitIDs }}
        </span>
    </h3>
</div>

<div class="modal-body">
    <form role="form"
          name="inventoryForm"
          ng-submit="updateInventory.save()">
        <div class="form-group" ng-class="{'has-error': !inventoryForm.$valid}">
            <label for="inventory" class="control-label">
                Supplies inventory
            </label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span id="inventoryIcon" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span class="sr-only">Supplies inventory</span>
                </div>
                <input id="inventory"
                       type="number"
                       min="0"
                       required
                       class="form-control"
                       aria-describedby="inventoryIcon"
                       aria-invalid="{{ !inventoryForm.$valid }}"
                       ng-model="updateInventory.newInventory"
                       focus-me="updateInventory.focus">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="updateInventory.save()">
        Save
    </button>
    <button class="btn btn-warning"
            type="button"
            ng-click="$dismiss('cancel click')">
        Cancel
    </button>
</div>
